@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

/* HEADER PUTIH */
.header-center {
  position: sticky;
  top: 0;
  background: white;
  padding: 15px 0;
  text-align: center;
  z-index: 999;
  box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}

.header-logo {
  width: 100px;
}

/* BACKGROUND WALLPAPER */
.main-background {
  flex: 1;
  padding: 30px;
  background: rgba(180, 180, 180, 1);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* SECTION TRANSPARAN */
.section {
  background: rgba(255,255,255,0.85);
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 25px;
  backdrop-filter: blur(2px);
}

/* GRID DESA */
.judul-desa {
  text-align: center;
  margin-bottom: 15px;
}

.desa-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  gap: 10px;
}

.desa-btn {
  background: #54bdee79;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  color: #0b3b66;
  font-weight: 600;
}

/* KONTAK ICONS */
.kontak-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.kontak-item {
  background: #54bdee79 !important; /* warna biru transparan */
  border: 2px solid #0b3b66;
  width: 140px;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  color: #0b3b66;

  /* agar icon & teks rapi */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 160px; /* semua kotak seragam */
}

.kontak-item:hover {
  background: #0b3b66 !important;
  color: white;
}

/* ICON BOX FIX */
.icon-box {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kontak-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


/* MAP */
.map-section iframe {
  width: 100%;
  height: 300px;
  border-radius: 12px;
  border: 0;
}

/* FOOTER PUTIH */
.footer {
  background: white;
  text-align: center;
  padding: 15px;
  color: #0b3b66;
}

/* LOADING SCREEN */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.loading-logo {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.spinner {
  margin: 20px auto 0;
  width: 40px;
  height: 40px;
  border: 4px solid #250e79;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

#loading-screen.hide {
  opacity: 0;
  visibility: hidden;
}
